.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.login-container {
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 15px;
  padding: 15px; /* Increase input padding */
  border-radius: 5px;
  border: 1px solid #e0e0e0; /* Light gray border */
  background-color: #f9f9f9; /* Light gray background */
  transition: border-color 0.3s; /* Smooth border transition */
}

.form-control:focus {
  border-color: #007bff; /* Border color on focus */
}

.btn-primary {
  padding: 15px 0; /* Increase button padding */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  height: 50px; /* Set button height */
  transition: background-color 0.3s; /* Smooth background transition */
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link-container {
  margin-top: 20px; /* Add margin to separate links from form */
  display: flex;
  flex-direction: column; /* Display links in a column */
  align-items: center; /* Center align links horizontally */
  padding-top: 20px; /* Add padding to the top */
}

.link {
  text-decoration: none;
  color: #333;
  margin-top: 10px; /* Add margin between links */
}

.link:hover {
  text-decoration: underline;
}
