* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.categories {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-left: 15px;
}
.disabled {
  opacity: 30%;
  cursor: not-allowed;
  position: relative;
}
.stock-out {
  color: red;
  position: absolute;
  top: 50%;
  left: 32%;
  font-size: 20px;
  z-index: 50;
}

.filter-div {
  max-width: max-content;
}

.categories {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.in-stock {
  color: #16a34a;
}
.out-of-stock {
  color: red;
}
.btn-container-disabled {
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.btn-blue1 {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px; /* Updated padding */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-blue1:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-blue1:focus,
.btn-blue1.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-blue1:disabled,
.btn-blue1.disabled {
  background-color: #007bff;
  border-color: #007bff;
  opacity: 0.65;
}
.btn-sec1 {
  color: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  padding: 10px 20px; /* Updated padding */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-sec1:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-sec1:focus,
.btn-sec1.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-sec1:disabled,
.btn-sec1.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  opacity: 0.65;
}
